*{
    box-sizing: inherit;
}

.main{
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    display: flex;
}

.sidebar-wrapper {
    background-color: #1e212d;
    height: 100vh;
    color: #fff;
    -webkit-transition: width, left, right, 0.3s;
    transition: width, left, right, 0.3s;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    overflow-x: hidden;
}

.toggled-sidebar{
    width: 70px;
    -webkit-transition: width, left, right, 0.3s;
    transition: width, left, right, 0.3s;
}

.sidebar{
    width: 280px;
    -webkit-transition: width, left, right, 0.3s;
    transition: width, left, right, 0.3s;
}

.menu{
    color: #fff;
    margin-top: 10px;
}

.navbar-wrapper{
    width: 100%;
    background-color: #c70039;
}

.navbar{
    display: flex;
    padding: 1vh 1.2vh;
    border-bottom: 3px solid #fff5ea;
}

.btn-logout{
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #fff;
}

.main-content{
    background-color:rgb(0 0 0 / 19%);
    background-size: cover;
    height: 100vh;
}

.content{
    height: 92vh;
    overflow-y: auto;
}

.main-toggled{
    width: calc(100% - 70px);
    -webkit-transition: width, left, right, 0.3s;
    transition: width, left, right, 0.3s;
}

.main-untoggled{
    width: calc(100% - 280px);
    -webkit-transition: width, left, right, 0.3s;
    transition: width, left, right, 0.3s;
}

.header{
    padding: 1vh 1.2vh;
    border-bottom: 3px solid #fff5ea;
}

.hidden{
    display: none;
}

.header .judul{
    color: #848391;
    text-align: center;
    margin: auto;
    font-size: 24px;
    font-weight: bolder;
}

.show{
    display: block;
}

.content{
    padding: 10px;
}

.main-body{
    margin-top: 20px;
    margin-left: 20px;
}